{% extends "base.html" %}
{% block title %}肉小鲜{% endblock %}

{% block importcss %}
<link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block importjs %}
<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}

{% block header %}
    <h1 class="title">商品列表</h1>
{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="goods content" style="background: #cdd4b4;">
    <div class="logo" style="background-color:#fff; width: 100%;">
        <img src="{% static "images/ok.png" %}"  style="display:block; margin:0 auto">
        <img src="{% static "images/1.png" %}" style="width:100%">
    </div>
    {% for item in products %}
    <div class="items" data-gid="{{item.uid}}">
        <div class="image">
        <img src="{{item.picture.url}}">
        </div>

        <div class="detail" type="button" data-gid="{{item.uid}}"><p>&nbsp;&nbsp;&nbsp;&nbsp;{{item.description}}</p></div>
    </div>
    {% endfor %}
</div>
{% endblock %}