{% extends "base.html" %}
{% block title %}肉小鲜{% endblock %}
{% block importcss %}
<link href="/static/css/product_detail.css" rel="stylesheet">
{% endblock %}

{% block importjs %}
<script type="text/javascript" src="/static/js/product_detail.js"></script>
{% endblock %}

{% block header %}
    <h1 class="title">确认订单</h1>
{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="content">
    <div class="item">
     <img src="{{product.picture.url}}">
     <img src="{% static "images/2.png" %}" style="width:100%;">
     <!--<p id="gname">{{product.name}}</p>
     <p id="price">￥{{product.price}}</p>-->
    </div>
    <div class="buy">
        <p>数量:</p>
        <input type="text" value="1" id="num" />
        <button class="btn change" style="height:36px;" id="plus">+</button>
        <button class="btn change" style="height:36px;" id="sub">-</button>

        <!--<button class="btn btn-primary btn-outlined"><a href="javascript:void(0);" class="cart">我的购物车</a></button>
        <button class="btn btn-positive btn-outlined" id="add_to_cart" data-pid="{{product.uid}}">加入购物车</button>
        <button class="btn btn-negative btn-outlined" id="buy_it_now">立即购买</button>-->
    <form method="post" action="/order/create/">
        {% csrf_token %}
        <div class="buyer_info">
            <h4>收货人信息</h4>
            <div class="input-row">
                <label>收货人</label>
                <input type="text" name="name" placeholder="" value="">
            </div>
            <div class="input-row">
                <label>手机号码</label>
                <input type="tel" name="phone" placeholder="" value="">
            </div>
            <div class="input-row">
                <label>详细地址</label>
                <input type="text" name="address" placeholder="" value="">
            </div>
            <div class="input-row">
                <label>总价</label>
                <input id="price" type="text" name="price" value="{{product.price}}" disabled class="total" >
            </div>
            <input type="hidden" value="{{product.uid}}" id="uid" name="uid"/>
            <input type="hidden" value="1" id="number" name="number"/>
            <input type="hidden" value="周五递送" id="send" name="send"/>
            <!--<input type="hidden" name="orderid" value="" class="orderid"/>-->
            <div style="padding-top:10px;">
            <div class="send btn btn-primary">周五递送</div>
            <div class="send btn btn-positive btn-outlined">周六递送</div>
            <div class="send btn btn-negative btn-outlined">周日递送</div>
            </div>
            <div class="submit">
                <button id="check" type="submit" class="btn btn-positive" data-pid="{{product.uid}}">确认订单</button>   
            </div>
        </div>
    </form>
    </div>
    <script type="text/javascript">
    $(function () {
        $('#num').bind('input propertychange', function() {  
            num = $('#num').val();
            $('#number').val(num);
            $('#price').val({{product.price}} * num);
        });
    });
    </script>
</div>
{% endblock %}