{% extends "base.html" %}
{% block title %}鸭子生活{% endblock %}
{% block importcss %}
<link href="/static/css/product_detail.css" rel="stylesheet">
{% endblock %}

{% block importjs %}
<script type="text/javascript" src="/static/js/product_detail.js"></script>
{% endblock %}

{% block header %}
    <h1 class="title">商品详情</h1>
{% endblock %}

{% block content %}
<div class="content">
    <div class="item">
     <img src="{{product.picture.url}}">
     <p id="gname">{{product.name}}</p>
     <p id="price">￥{{product.price}}</p>
    </div>
    <div class="buy">
        <p>数量:</p>
        <input name="" value="1" id="num" />
        <button class="btn change" id="plus">+</button>
        <button class="btn change" id="sub">-</button>
        <button class="btn btn-primary btn-outlined"><a href="javascript:void(0);" class="cart">我的购物车</a></button>
        <button class="btn btn-positive btn-outlined" id="add_to_cart" data-pid="{{product.uid}}">加入购物车</button>
        <button class="btn btn-negative btn-outlined" id="buy_it_now">立即购买</button>
    </div>
    <div class="detail">
        <img src="{{product.picture.url}}">
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>
    </div>
</div>
{% endblock %}