{% extends "base.html" %}
{% block title %}鸭子滋补品{% endblock %}
{% block importcss %}
<link href="/static/css/pay_confirm.css" rel="stylesheet">
{% endblock %}

{% block importjs %}
<script type="text/javascript" src="/static/js/pay_confirm.js"></script>
{% endblock %}

{% block header %}
    <h1 class="title">确认支付</h1>
{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="content">
   <h4>订单号：{{orderid}}</h4>
   <h4>价钱：{{totalPrice}}</h6>
   <button class="btn btn-positive">确认付款</button>
</div>
{% endblock %}