<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0" />
    <title>后台管理</title>
    <link rel="stylesheet" href="static/Bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="static/css/backend.css" />
    <script src="static/jQuery/jquery-2.0.1.min.js"></script>
    <script src="static/js/jquery.form.js"></script>
    <script src="static/Bootstrap/bootstrap.js"></script>
</head>

<body>
    <div id="navigation">
        <div id="logo">
            <img src="static/images/ok.png" />
        </div>
        <hr />
        <div id="nav">
            <h4>NAVIGATION</h4>
            <ul>
                <li id="indexPage"><span class="glyphicon glyphicon-home"></span>&nbsp&nbsp&nbsp首页</li>
                <li id="orderPage"><span class="glyphicon glyphicon-list-alt"></span>&nbsp&nbsp&nbsp订单管理</li>
                <li id="productPage"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp&nbsp&nbsp商品管理</li>
                <li id="categoryPage"><span class="glyphicon glyphicon-th-list"></span>&nbsp&nbsp&nbsp目录管理</li>
            </ul>
        </div>
        <div id="logout">
            <a href="/user/logout/"><span class="glyphicon glyphicon-off"></span>&nbsp&nbsp&nbspLogout</a>
        </div>
    </div>
    <div id="header">
        <h1>肉&nbsp小&nbsp鲜</h1>
    </div>
    <div id="dashboard">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">控制面板</h3>
            </div>
            <div class="panel-body">

                <div id="orderBox">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#waitingOrders" role="tab" data-toggle="tab">待确认订单</a></li>
                        <li><a href="#notOrders" role="tab" data-toggle="tab">未支付订单</a></li>
                        <li><a href="#completeOrders" role="tab" data-toggle="tab">已完成订单</a></li>
                        <li><a href="#cancelOrders" role="tab" data-toggle="tab">已取消订单</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active panel-group" id="waitingOrders">
                            {% for order in waitingOrders %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#waitingOrders" href="#order{{order.id}}">
                                            订单号 : {{order.id}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="order{{order.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <button data-id="{{order.id}}" class="btn btn-info deliveryComfirm">确认发货</button>
                                        <button data-id="{{order.id}}" class="btn btn-danger cancelComfirm">取消订单</button>
                                        <div class="orderContent">
                                            <h3>联系方式</h3>
                                            <dl class="dl-horizontal">
                                                <dt>姓名</dt>
                                                <dd>{{order.name}}</dd>
                                                <dt>电话</dt>
                                                <dd>{{order.phone}}</dd>
                                                <dt>地址</dt>
                                                <dd>{{order.address}}</dd>
                                                <dt>总价</dt>
                                                <dd>{{order.price}}</dd>
                                                <dt>时间</dt>
                                                <dd>{{order.datetime}}</dd>
                                            </dl>
                                            <table class="table">
                                                <tr>
                                                    <th>商品编号</th>
                                                    <th>商品名称</th>
                                                    <th>商品单价</th>
                                                    <th>商品数量</th>
                                                    <th>运送时间</th>
                                                </tr>
                                                {% for item in order.items %}
                                                <tr>
                                                    <td>{{item.product.uid}}</td>
                                                    <td>{{item.product.name}}</td>
                                                    <td>{{item.product.price}}</td>
                                                    <td>{{item.number}}</td>
                                                    <td>{{item.send}}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane panel-group" id="notOrders">
                            {% for order in notOrders %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#notOrders" href="#order{{order.id}}">
                                            订单号 : {{order.id}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="order{{order.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <button data-id="{{order.id}}" class="btn btn-info paidComfirm">确认付款</button>
                                        <button data-id="{{order.id}}" class="btn btn-info cancelComfirm">取消订单</button>
                                        <div class="orderContent">
                                            <h3>联系方式</h3>
                                            <dl class="dl-horizontal">
                                                <dt>姓名</dt>
                                                <dd>{{order.name}}</dd>
                                                <dt>电话</dt>
                                                <dd>{{order.phone}}</dd>
                                                <dt>地址</dt>
                                                <dd>{{order.address}}</dd>
                                                <dt>总价</dt>
                                                <dd>{{order.price}}</dd>
                                                <dt>时间</dt>
                                                <dd>{{order.datetime}}</dd>
                                            </dl>
                                            <table class="table">
                                                <tr>
                                                    <th>商品编号</th>
                                                    <th>商品名称</th>
                                                    <th>商品单价</th>
                                                    <th>商品数量</th>
                                                    <th>运送时间</th>
                                                </tr>
                                                {% for item in order.items %}
                                                <tr>
                                                    <td>{{item.product.uid}}</td>
                                                    <td>{{item.product.name}}</td>
                                                    <td>{{item.product.price}}</td>
                                                    <td>{{item.number}}</td>
                                                    <td>{{item.send}}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane panel-group" id="completeOrders">
                            {% for order in completeOrders %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#completeOrders" href="#order{{order.id}}">
                                            订单号 : {{order.id}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="order{{order.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="orderContent">
                                            <h3>联系方式</h3>
                                            <dl class="dl-horizontal">
                                                <dt>姓名</dt>
                                                <dd>{{order.name}}</dd>
                                                <dt>电话</dt>
                                                <dd>{{order.phone}}</dd>
                                                <dt>地址</dt>
                                                <dd>{{order.address}}</dd>
                                                <dt>总价</dt>
                                                <dd>{{order.price}}</dd>
                                                <dt>时间</dt>
                                                <dd>{{order.datetime}}</dd>
                                            </dl>
                                            <table class="table">
                                                <tr>
                                                    <th>商品编号</th>
                                                    <th>商品名称</th>
                                                    <th>商品单价</th>
                                                    <th>商品数量</th>
                                                    <th>运送时间</th>
                                                </tr>
                                                {% for item in order.items %}
                                                <tr>
                                                    <td>{{item.product.uid}}</td>
                                                    <td>{{item.product.name}}</td>
                                                    <td>{{item.product.price}}</td>
                                                    <td>{{item.number}}</td>
                                                    <td>{{item.send}}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane panel-group" id="cancelOrders">
                            {% for order in cancelOrders %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#cancelOrders" href="#order{{order.id}}">
                                            订单号 : {{order.id}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="order{{order.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="orderContent">
                                            <h3>联系方式</h3>
                                            <dl class="dl-horizontal">
                                                <dt>姓名</dt>
                                                <dd>{{order.name}}</dd>
                                                <dt>电话</dt>
                                                <dd>{{order.phone}}</dd>
                                                <dt>地址</dt>
                                                <dd>{{order.address}}</dd>
                                                <dt>总价</dt>
                                                <dd>{{order.price}}</dd>
                                                <dt>时间</dt>
                                                <dd>{{order.datetime}}</dd>
                                            </dl>
                                            <table class="table">
                                                <tr>
                                                    <th>商品编号</th>
                                                    <th>商品名称</th>
                                                    <th>商品单价</th>
                                                    <th>商品数量</th>
                                                    <th>运送时间</th>
                                                </tr>
                                                {% for item in order.items %}
                                                <tr>
                                                    <td>{{item.product.uid}}</td>
                                                    <td>{{item.product.name}}</td>
                                                    <td>{{item.product.price}}</td>
                                                    <td>{{item.number}}</td>
                                                    <td>{{item.send}}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div id="productBox">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#productList" role="tab" data-toggle="tab">商品列表</a></li>
                        <li><a href="#createProduct" role="tab" data-toggle="tab">新建商品</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active panel-group" id="productList">
                            {% for product in products %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#productList" href="#product{{product.uid}}">
                                            {{product.name}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="product{{product.uid}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <button data-id="{{product.uid}}" class="btn btn-danger deleteProduct">删除</button>
                                        <div class="productContent">
                                            <img src="{{product.picture.url}}" />
                                            <hr />
                                            <h4>商品编号</h4>
                                            <p>#{{product.uid}}</p>
                                            <h4>商品名称</h4>
                                            <p>{{product.name}}</p>
                                            <h4>商品价格</h4>
                                            <p>{{product.price}}</p>
                                            <h4>商品类型</h4>
                                            <p>{{product.category.name}}</p>
                                            <h4>商品描述</p>
                                            <p>{{product.description | safe}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane" id="createProduct">
                            <iframe name="uploadFrame" id="uploadFrame"></iframe>
                            <form role="form" action="/backend/upload/" method="post" target="uploadFrame" enctype="multipart/form-data" id="uploadPictures">
                            {% csrf_token %}
                                <input class="form-control" type="file" name="pictures" multiple="multiple"/>
                                <button class="btn btn-info" type="submit">上传图片</button>
                            </form>
                            <p id="uploadMessage"></p>
                            <form role="form" method="post" action="/backend/create/product/" id="productForm" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="form-group">
                                    <label for="productName">商品名称</label>
                                    <input type="text" class="form-control" id="productName" name="name" />
                                    <p class="warningMessage">不能为空</p>
                                </div>
                                <div class="form-group">
                                    <label for="productPrice">商品价格</label>
                                    <input type="text" class="form-control" id="productPrice" name="price" />
                                    <p class="warningMessage">不能为空</p>
                                </div>
                                <div class="form-group">
                                    <label for="productDescription">商品描述</label>
                                    <textarea class="form-control" id="productDescription" name="description"></textarea>
                                    <p class="warningMessage">不能为空</p>
                                </div>
                                <div class="form-group">
                                    <label for="productCategory">商品类型</label>
                                    <select id="productCategory" class="form-control" name="category">
                                        {% for option in categorys %}
                                        <option value="{{option.id}}" id="option{{option.id}}">{{option.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="productPicture">商品展示图</label>
                                    <input type="file" class="form-control" id="productPicture" name="picture" />
                                    <img id="previewImage" src="#" /><br />
                                    <p class="warningMessage">不能为空</p>
                                </div>
                                <button class="btn btn-primary" type="submit">提交</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="categoryBox">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#categoryList" role="tab" data-toggle="tab">菜单列表</a></li>
                        <li><a href="#createCategory" role="tab" data-toggle="tab">新建菜单</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="categoryList">
                            {% for category in categorys %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#categoryList" href="#category{{category.id}}">
                                            {{category.name}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="category{{category.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <button data-id="{{category.id}}" class="deleteButton btn btn-danger">删除</button>
                                        <h3>该目录下的商品有:</h3>
                                    </div>
                                    <table class="table">
                                        <tr>
                                            <th>商品编号</th>
                                            <th>商品名称</th>
                                            <th>商品价格</th>
                                        </tr>
                                        {% for item in category.products %}
                                        <tr id="table{{item.uid}}">
                                            <td>#{{item.uid}}</td>
                                            <td>{{item.name}}</td>
                                            <td>{{item.price}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane" id="createCategory">
                            <form role="form" method="post" action="/backend/create/category/" id="categoryForm">
                            {% csrf_token %}
                                <div class="form-group">
                                    <label for="categoryName">目录名称</label>
                                    <input type="text" class="form-control" id="categoryName" name="name" />
                                    <p class="warningMessage">不能为空</p>
                                </div>
                                <button type="submit" class="btn btn-primary">提交</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- <div id="control">
        <div id="showOrder" class="orderButton">
            <p>订单列表</p>
        </div>
        <div id="showProduct" class="productButton">
            <p>商品列表</p>
        </div>
        <div id="createProduct" class="productButton">
            <p>创建商品</p>
        </div>
        <div id="showCategory" class="categoryButton">
            <p>目录列表</p>
        </div>
        <div id="createCategory" class="categoryButton">
            <p>创建目录</p>
        </div>
    </div> -->
    <script src="static/tinymce/tinymce.min.js"></script>
    <script src="static/js/backend.js"></script>
</body>
</html>